.medication-component {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 1200px;
    /* margin: 10px auto; */
    height: 97%;
  }
  .mc-top{
    display: flex;
    gap: 10px;
  }
  .mc-top>button{
    height: fit-content;
    margin: 20px 8px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: var(--secondBase);
    color: var(--textCol);
    font-weight: 600;
  }
  h2 {
    text-align: center;
  }
  
  .medication-input {
    /* border: 1px solid #7d7a7a; */
    /* padding: 10px; */
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff
  }
  .med-inpts{
    display: flex;
    gap: 20px;
  }

  .med-inpts select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #bdb7b7;
    border-radius: 10px;
    background-color: #fff; /* White background */
    color: #6d6c6c; /* Dark text color */
    cursor: pointer; /* Change cursor to pointer */
}

/* Dropdown Hover Effect */
.med-inpts select:hover {
    border-color: #007bff; /* Change border color on hover */
}

/* Dropdown Focus Effect */
.med-inpts select:focus {
    outline: none; /* Remove default outline */
    border-color: #007bff; /* Highlight border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow for focus */
}
  .medication-input h4 {
    margin: 0;
  }
  
  input {
    width: calc(100% - 10px);
    border: 1px solid #b4aeae;
    padding: 5px;
    margin-top: 5px;
  }
  
  .assign-med-btn{
    height: fit-content;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: var(--base);
    color: var(--textCol);
    font-weight: 600;
  }