.edit-chemo-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit-chemo-popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    height: 70%;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .edit-chemo-popup-content::-webkit-scrollbar{
    display: none;
  }
  .edit-chemo-close-btn {
    background: none;
    color: #333;
    font-weight: 500;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width: fit-content;
    border-radius: 50%;
  }
  .edit-chemo-close-btn:hover{
    background: none;
    color: #333333ba;
  }
  
  .edit-chemo-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-chemo-input,
  .edit-chemo-textarea,
  .edit-investigation-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .edit-investigations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .edit-investigations-container .investigation-group:last-child select{
    width: fit-content;
  }
  .investigation-group {
    flex: 1 1 30%;
  }
  