.print-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .print-table th, .print-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .print-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .print-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }